body {
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: fixed;
    
    font-family: roboto;
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding: 13px;
}
.pagina-principal {
    display: flex;
    justify-content: center;
}
.alinharQuiz {
    width: 1051px;
    margin-left: 194px;
    margin-right: 194px;
    padding-top: 77px;
}
.addQuiz {
    width: 1051px;
    height: 181px;
    border-radius: 5px;
    background-color: #FAFAFA;
    border: 1px dashed #D4D4D4;
    margin-top: 77px;
    margin-bottom: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mensagem {
    width: 250px;
    height: 107px;
    color: #B9B9B9;

    font-family: roboto;
    font-size: 20px;
    font-weight: 400;
    text-align: center;

    margin-top: 45px;
}
.criarQuizz {
    width: 151px;
    height: 40px;
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    font-family: roboto;
    font-size: 21px;
    text-align: center;
    color: #EC362D;
    margin-top: -30px;
    padding-top: 8px;
}
.todosQuizzes p {
    font-size: 20px;
    font-family: roboto;
    font-weight: 700;
    color: #000000;
}
.quizzes {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}
.quizzes img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    background-color: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}
.conteudo-quizz-basico {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conteudo-quizz-basico p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
}
.informacoes-basicas {
    width: 600px;
    height: 256px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 27px;
    padding-top: 21px;
    padding-bottom: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.informacoes-basicas input {
    margin-left: 16px;
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
}
.conteudo-quizz-basico button {
    width: 368.86px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    margin-top: 85px;
}
.pergunta-quizz {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pergunta-quizz p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
}
.criar-pergunta {
    margin-top: 36px;
    padding-left: 16px;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 600px;
    height: 825px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}
.criar-pergunta p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 12px;
}
.criar-pergunta input {
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 14px;
}
.pergunta-resposta {
    margin-bottom: 14px;
}
.respostas-incorretas div {
    margin-bottom: 25px;
}
.placeholder-pergunta {
    margin-top: 24px;
    width: 601px;
    height: 74px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 24px;
    padding-left: 17px;
    margin-bottom: 22px;
}
.placeholder-pergunta p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.placeholder-pergunta ion-icon {
    font-size: 26px;
}
.pergunta-quizz button {
    width: 368.86px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    margin-top: 59px;
    margin-bottom: 100px;
}
.quizz-criado {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quizz-criado p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 46px;
    display: flex;
    justify-content: center;
}
.previa-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.previa-quizz div img {
    width: 500px;
    height: 266px;
    background-color: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(quizz.jpg);
    border-radius: 5px;
}
.acessar-quizz {
    margin-top: 45px;
    width: 220.32px;
    height: 44px;
    background: #EC362D;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    border: none;
    margin-bottom: 9px;
}
.voltar-home {
    width: 220.32px;
    height: 44px;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    background-color: #FAFAFA;
    border: none;
}
.escondido {
    display: none;
}
